Analysis of sampling water_saturation-92174406e8b8e808 (pid 77576) every 1 millisecond
Process:         water_saturation-92174406e8b8e808 [77576]
Path:            /Users/USER/Documents/*/water_saturation-92174406e8b8e808
Load Address:    0x1045ec000
Identifier:      water_saturation-92174406e8b8e808
Version:         ???
Code Type:       ARM64
Parent Process:  cargo [77483]
Target Type:     live task

Date/Time:       2026-10-05 06:12:27.527 +0400
Launch Time:     2026-10-05 06:08:09.398 +0400
OS Version:      macOS 26.7.1 (25G313)
Report Version:  7
Analysis Tool:   /usr/bin/sample

Physical footprint:         96K
Physical footprint (peak):  96K
Idle exit:                  untracked
----

Call graph:
    783 Thread_31506819: Main Thread   DispatchQueue_<multiple>
      783 _dyld_start  (in dyld) + 0  [0x10486c9c0]

Total number in stack (recursive counted multiple, when >=5):

Sort by top of stack, same collapsed (when >= 5):
        _dyld_start  (in dyld)        783

Binary images description not available

