Analysis of sampling surface_film_withdrawal-7500cd01898e1f33 (pid 6672) every 10 milliseconds
Process:         surface_film_withdrawal-7500cd01898e1f33 [6672]
Path:            /Users/USER/Documents/*/surface_film_withdrawal-7500cd01898e1f33
Load Address:    0x102a44000
Identifier:      surface_film_withdrawal-7500cd01898e1f33
Version:         ???
Code Type:       ARM64
Parent Process:  cargo [4758]
Target Type:     live task

Date/Time:       2026-10-05 08:55:31.382 +0400
Launch Time:     2026-10-05 08:51:36.223 +0400
OS Version:      macOS 26.7.1 (25G313)
Report Version:  7
Analysis Tool:   /usr/bin/sample

Physical footprint:         96K
Physical footprint (peak):  96K
Idle exit:                  untracked
----

Call graph:
    86 Thread_32235547: Main Thread   DispatchQueue_<multiple>
      86 _dyld_start  (in dyld) + 0  [0x102d089c0]

Total number in stack (recursive counted multiple, when >=5):

Sort by top of stack, same collapsed (when >= 5):
        _dyld_start  (in dyld)        86

Binary images description not available

