PRODUCT_NAME = Voxy
PRODUCT_BUNDLE_IDENTIFIER = dev.voxy.engine
INFOPLIST_FILE = Info.plist
CODE_SIGN_STYLE = Automatic
TARGETED_DEVICE_FAMILY = 1,2
SUPPORTED_PLATFORMS = iphoneos iphonesimulator
ONLY_ACTIVE_ARCH = YES
ENABLE_USER_SCRIPT_SANDBOXING = NO
LIBRARY_SEARCH_PATHS = $(inherited) "$(BUILT_PRODUCTS_DIR)"
OTHER_LDFLAGS = $(inherited) -lvoxy_mobile -lobjc -lc++ -framework UIKit -framework Foundation -framework Metal -framework QuartzCore -framework CoreGraphics -framework CoreVideo -framework GameController -framework Security
